MONGODB_URI=mongodb+srv://kaushiki:08112006@cluster0.ywhpm0k.mongodb.net/notes-data
PORT=5002

UPSTASH_REDIS_REST_URL="https://select-marlin-157935.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAmjvAAIgcDE3YmI1NWMxYWNmNWU0YjQ1ODE5MjI5ZjJhZjc4ZTY1OA"
NODE_ENV=Production
JWT_SECRET=mysupersecret1s8112006